name: CI

on:
  push:
    branches: [ dev, test ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Build & Deploy to GitHub Pages
      env: 
        MARP_ARGS: "slides.md -o output/index.html"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_REPOSITORY: ralexander-phi/test-marp-action
        PUBLISH_TO_BRANCH: master
        BASE_URL: https://alexsci.com/test-marp-action/
      uses: ralexander-phi/marp-action@scratch
      
